{% extends 'base.html' %}
{% block content %}
    <div class="jumbotron">
        <p>Let's look over your current information</p>
    </div>
    <!-- put something here to show the information entered -->
    <div>
        <form method="post" id="newLoan">
            {{loan_form.hidden_tag()}}           <br>
            {{loan_form.loan_name.label}}        <br>{{loan_form.loan_name}} <br>
            {{loan_form.current_owed.label}}     <br>{{loan_form.current_owed}} <br>
            {{loan_form.interest_rate.label}}    <br>{{loan_form.interest_rate}} <br>
            {{loan_form.min_payment.label}}      <br>{{loan_form.min_payment}} <br>
            {{loan_form.due_date.label}}         <br>{{loan_form.due_date}} <br>
            {{loan_form.payoff_date.label}}      <br>{{loan_form.payoff_date}} <br><br>
            {{loan_form.submit()}}
        </form>
        <form method="post" id="otherDebt">

        </form>
        <form method="post" id=""></form>
    </div>
{% endblock %}