{% extends 'base.html' %}
{% block content %}
    <div class="jumbotron d-flex justify-content-center">
        <p>Enter in your debts below</p>
    </div>
    
    <div class="container">
        <div class="row">

            <div class="col-sm d-flex justify-content-center">
                <form method="post" id="newLoan">
                    {{loan_form.hidden_tag()}}           <br>
                    {{loan_form.loan_name.label}}        <br>{{loan_form.loan_name}}       <br>
                    {{loan_form.current_owed.label}}     <br>{{loan_form.current_owed}}    <br>
                    {{loan_form.interest_rate.label}}    <br>{{loan_form.interest_rate}}   <br>
                    {{loan_form.min_payment.label}}      <br>{{loan_form.min_payment}}     <br>
                    {{loan_form.due_date.label}}         <br>{{loan_form.due_date}}        <br>
                    {{loan_form.payoff_date.label}}      <br>{{loan_form.payoff_date}} <br><br>
                    {{loan_form.submit()}}
                </form>
            </div>
            <div class="col-sm d-flex justify-content-center">
                <form method="post" id="otherDebt">
                    {{other_form.hidden_tag()}}         <br>
                    {{other_form.debt_name.label}}      <br>{{other_form.debt_name}}       <br>
                    {{other_form.current_owed.label}}   <br>{{other_form.current_owed}}    <br>
                    {{other_form.interest_rate.label}}  <br>{{other_form.interest_rate}}   <br>
                    {{other_form.min_payment.label}}    <br>{{other_form.min_payment}}     <br>
                    {{other_form.due_date.label}}       <br>{{other_form.due_date}}        <br>
                    {{other_form.payoff_date.label}}    <br>{{other_form.payoff_date}} <br><br>
                    {{other_form.submit()}}
                </form>
            </div>
            <div class="col-sm d-flex justify-content-center">
                
                <form method="post" id="newCC">
                    {{cc_form.hidden_tag()}}        <br>
                    {{cc_form.card_name.label}}     <br>{{cc_form.card_name}}       <br>
                    {{cc_form.card_max.label}}      <br>{{cc_form.card_max}}        <br>
                    {{cc_form.current_owed.label}}  <br>{{cc_form.current_owed}}    <br>
                    {{cc_form.interest_rate.label}} <br>{{cc_form.interest_rate}}   <br>
                    {{cc_form.min_calc.label}}      <br>{{cc_form.min_calc}}        <br>
                    {{cc_form.due_date.label}}      <br>{{cc_form.due_date}}        <br><br>
                    {{cc_form.submit()}}
                </form>
            </div>
        </div>
    </div>
    <br><br><br>
{% endblock %}