{% extends 'base.html' %}
{% block content %}
    <div class="jumbotron d-flex justify-content-center">
        <p>Enter in your debts below</p>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <form method="post">
                    {{budget_form.hidden_tag()}}
                    {{budget_form.spending_amount.label}} {{budget_form.spending_amount}}
                    {{budget_form.submit_b()}}
                </form>
            </div>
        </div>
        <div class="row">

            <div class="col-sm d-flex justify-content-center">
                <form method="post" id="newLoan">
                    {{loan_form.hidden_tag()}}           <br>
                    {{loan_form.loan_name.label}}        <br>{{loan_form.loan_name}}       <br>
                    {{loan_form.current_owed_l.label}}     <br>{{loan_form.current_owed_l}}    <br>
                    {{loan_form.interest_rate_l.label}}    <br>{{loan_form.interest_rate_l}}   <br>
                    {{loan_form.min_payment_l.label}}      <br>{{loan_form.min_payment_l}}     <br>
                    {{loan_form.due_date_l.label}}         <br>{{loan_form.due_date_l}}        <br>
                    {{loan_form.payoff_date_l.label}}      <br>{{loan_form.payoff_date_l}} <br><br>
                    {{loan_form.submit_l()}}
                </form>
            </div>
            <div class="col-sm d-flex justify-content-center">
                <form method="post" id="otherDebt">
                    {{other_form.hidden_tag()}}         <br>
                    {{other_form.debt_name.label}}      <br>{{other_form.debt_name}}       <br>
                    {{other_form.current_owed_o.label}}   <br>{{other_form.current_owed_o}}    <br>
                    {{other_form.interest_rate_o.label}}  <br>{{other_form.interest_rate_o}}   <br>
                    {{other_form.min_payment_o.label}}    <br>{{other_form.min_payment_o}}     <br>
                    {{other_form.due_date_o.label}}       <br>{{other_form.due_date_o}}        <br>
                    {{other_form.payoff_date_o.label}}    <br>{{other_form.payoff_date_o}} <br><br>
                    {{other_form.submit_o()}}
                </form>
            </div>
            <div class="col-sm d-flex justify-content-center">
                
                <form method="post" id="newCC">
                    {{cc_form.hidden_tag()}}           <br>
                    {{cc_form.card_name.label}}        <br>{{cc_form.card_name}}       <br>
                    {{cc_form.current_owed_cc.label}}  <br>{{cc_form.current_owed_cc}}    <br>
                    {{cc_form.interest_rate_cc.label}} <br>{{cc_form.interest_rate_cc}}   <br>
                    {{cc_form.card_max_cc.label}}      <br>{{cc_form.card_max_cc}}        <br>
                    {{cc_form.min_calc_cc.label}}      <br>{{cc_form.min_calc_cc}}        <br>
                    {{cc_form.due_date_cc.label}}      <br>{{cc_form.due_date_cc}}        <br><br>
                    {{cc_form.submit_cc()}}
                </form>
            </div>
        </div>
    </div>
    <br><br><br>
{% endblock %}