{% extends 'base.html' %}
{% block content %}
    <div class="jumbotron">
        <p>Where would you like to go next?</p>
    </div>
    <!-- choose next page to go to -->
    <div class="container">
        <div class="row justify-content-md-center">
            <ul>
                <a href="{{url_for('home')}}">Home</a>
                <a href="{{url_for('overview')}}">Overview</a>
                <a href="{{url_for('addnew')}}">Add Another</a>
            </ul>
        </div>
    </div>
{% endblock %}