{% extends 'base.html' %}
{% block content %}
    <div class="jumbotron d-flex justify-content-center">
        <h3>Information for a monthly budget of: {{budget.spending_amount}}</h3>
    </div>
    
    <div class="container">
        <div class="row d-flex justify-content-center">
            <h4>▀ ▀ ▀ ▀ ▀</h4>
        </div>
        <table class="table table-striped table-hover table-dark">
            <thead>
                <th scope="col">Name</th>
                <th scope="col">Owed</th>
                <th scope="col">Interest Rate</th>
                <th scope="col">Minimum Payment</th>
                <th scope="col">Edit Debt Amount</th>
                <th scope="col">Delete Debt</th>
            </thead>
            <tbody>
                {%for loan in loans%}
                <tr>
                    <th>{{loan.loan_name}}</th>
                    <td>${{loan.current_owed}}</td>
                    <td>{{loan.interest_rate}}%</td>
                    <td>{{loan.min_payment}}</td>
                    <td>
                        <form action="/update" method="POST" id="{{loan.debt_id}}">
                            <input type="hidden" id="debt_id" name="debt_id" value="{{loan.debt_id}}">
                            <input type="text" name="edit_amount" id="{{loan.debt_id}}" required>
                            <input type="submit" name="loan_edit" class="btn btn-primary" id="{{loan.debt_id}}" value="Edit"></input>
                        </form>
                    </td>
                    <td>
                        <form action="/delete" method="POST" id="{{loan.debt_id}}">
                            <input type="hidden" id="debt_id" name="debt_id" value="{{loan.debt_id}}">
                            <input type="submit" name="loan_delete" class="btn btn-danger" id="{{loan.debt_id}}" value="Delete"></input>
                        </form>
                    </td>
                </tr>
                {%endfor%}
                {%for debts in other%}
                <tr>
                    <th>{{debts.debt_name}}</th>
                    <td>${{debts.current_owed}}</td>
                    <td>{{debts.interest_rate}}%</td>
                    <td>{{debts.min_payment}}</td>
                    <td>
                        <form action="/update" method="POST" id="{{debts.other_id}}">
                            <input type="hidden" id="debt_id" name="debt_id" value="{{debts.other_id}}">
                            <input type="text" name="edit_amount" id="{{debts.other_id}}" required>
                            <input type="submit" name="other_edit" class="btn btn-primary" id="{{debts.other_id}}" value="Edit"></input>
                        </form>
                    </td>
                    <td>
                        <form action="/delete" method="POST" id="{{debts.other_id}}">
                            <input type="hidden" id="other_id" name="other_id" value="{{debts.other_id}}">
                            <input type="submit" name="other_delete" class="btn btn-danger" id="{{debts.other_id}}" value="Delete"></input>
                        </form>
                    </td>
                </tr>
                {%endfor%}
                {%for card in cc%}
                <tr>
                    <th>{{card.card_name}}</th>
                    <td>${{card.current_owed}}</td>
                    <td>{{card.interest_rate}}%</td>
                    <td>{{card.min_calc * card.current_owed}}</td>
                    <td>
                        <form action="/update" method="POST" id="{{card.cc_id}}">
                            <input type="hidden" id="debt_id" name="debt_id" value="{{card.cc_id}}">
                            <input type="text" name="edit_amount" id="{{card.cc_id}}" required>
                            <input type="submit" name="cc_edit" class="btn btn-primary" id="{{card.cc_id}}" value="Edit"></input>
                        </form>
                    </td>
                    <td>
                        <form action="/delete" method="POST" id="{{card.cc_id}}">
                            <input type="hidden" id="cc_id" name="cc_id" value="{{card.cc_id}}">
                            <input type="submit" name="cc_delete" class="btn btn-danger" id="{{card.cc_id}}" value="Delete"></input>
                        </form>
                    </td>
                </tr>
                {%endfor%}

            </tbody>
        </table>
        <div class="row d-flex justify-content-center">
        </div>
        <div class="row d-flex justify-content-center">
            <h3>Overview</h3>
        </div>
        <div class="row d-flex justify-content-center">
            <h4>▀ ▀ ▀ ▀ ▀</h4>
        </div>
        <table class="table table-striped table-hover table-dark">
            <thead>
                <th scope="col">Total Owed</th>
                <th scope="col">Total Minimum Payments</th>
                <th scope="col">Montly Budget</th>
            </thead>
            <tbody>
                <td>{{total}}</td>
                <td>{{total_min}}</td>
                <td>{{budget.spending_amount}}</td>
            </tbody>
        </table>
        <div class="row d-flex justify-content-center">
            <h4>▀ ▀ ▀ ▀ ▀</h4>
        </div>
    </div>
{% endblock %}