{% extends 'base.html' %}
{% block content %}
    <form method="post">
        {{form.hidden_tag()}}           <br>
        {{form.email.label}}            <br>{{form.email}}<br>
        {{form.username.label}}         <br>{{form.username()}} <br>
        {{form.password.label}}         <br>{{form.password()}} <br>
        {{form.password_confirm.label}} <br>{{form.password_confirm()}} <br>
        {{form.state.label}}            <br>{{form.state()}} <br><br>
        {{form.submit()}}
    </form>
{% endblock %}