{% extends 'base.html' %}
{% block content %}
    <form method="post">
        {{loan_form.hidden_tag()}}           <br>
        {{loan_form.email.label}}            <br>{{loan_form.email}}<br>
        {{loan_form.username.label}}         <br>{{loan_form.username()}} <br>
        {{loan_form.password.label}}         <br>{{loan_form.password()}} <br>
        {{loan_form.password_confirm.label}} <br>{{loan_form.password_confirm()}} <br>
        {{loan_form.state.label}}            <br>{{loan_form.state()}} <br><br>
        {{loan_form.submit()}}
    </form>
{% endblock %}